// opacity로 사용자에게 반응.
@mixin touchable {
  transition: opacity 0.15s ease;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    opacity: 0.9;
  }

  &:not(:disabled):active {
    opacity: 0.2;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin min-height-100vh {
  min-height: 100vh;
  min-height: $vh-100;
}

@mixin height-100vh {
  height: 100vh;
  height: $vh-100;
}
