$color-white: #fff;
$color-blue: #2170fe;
$color-gray: #777777;
$color-light: #dddddd;
$color-lighter: #ededed;
$color-lightest: #f2f2f2;
$color-red: #ff005a;

$padding-x: 1.25rem;
$padding-y: 2.34rem;
$padding: $padding-y $padding-x; // 20px;

$font-sans: "Noto Sans KR", sans-serif;
