@import "variables";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  letter-spacing: -0.06em;

  @media (max-width: 360px) {
    // 360px 이하 지원
    font-size: 4.4vw;
  }

  /* 
    body scroll lock iOS에서 아래 공간 뜨는 이슈 Fix
    이슈: https://github.com/willmcpo/body-scroll-lock/pull/242
    */
  height: 100vh;
  height: $vh-100;
}

body {
  font-family: $font-sans;
  line-height: 1.5;

  /* iOS Safari에서 body scroll lock의 문제 해결 */
  width: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
}

input,
textarea {
  font: inherit;
  letter-spacing: inherit;
}

.gap-vertical {
  & > * + * {
    margin-top: 0.5rem;
  }
}

.gap-horizontal {
  & > * + * {
    margin-left: 0.5rem;
  }
}

// 태블릿 이상에서 레이아웃이 과도히 늘어나는 것을 방지하기 위함이다.
.container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}

.text-small {
  font-size: 0.8125rem;
}

.text-gray {
  color: $color-gray;
}

.text-light {
  color: $color-light;
}

.text-divider {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0.9rem;
  height: 1em;
  opacity: 0.25;
  border-left: 1px solid currentColor;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.page-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page-main {
  padding: $padding-x;
}

.page-content {
  flex: 1 1 auto;
  padding: $padding;
}

.page-content-medium {
  flex: 1 1 auto;
  padding: $padding-medium;
}

.page-content-large {
  flex: 1 1 auto;
  padding: $padding-large;
}

.page-footer {
  padding: $padding-x;
}

.page-header {
  margin-bottom: ((55 - 20)/2/16) * 1rem;
}

.page-title {
  font-size: (52/2/16) * 1rem;
  line-height: (72/52);
  margin-bottom: (20/2/16) * 1rem;
}

.page-subtitle {
  font-size: (30/2/16) * 1rem;
  margin-bottom: (20/2/16) * 1rem;
}

.divider {
  height: 1px;
  background-color: $color-lightest;

  &.light {
    background-color: $color-light;
  }

  &.darker {
    background-color: #cccccc;
  }

  &.thick {
    height: (16/2/16) * 1rem;
  }

  &.margin {
    margin: (35/2/16) * 1rem 0;
  }

  &.margin-large {
    margin: (60/2/16) * 1rem 0;
  }
}

.list-group {
  padding: (40/2/16) * 1rem;
}

.list-title {
  padding: (20/2/16) * 1rem 0;
  font-size: (26/2/16) * 1rem;
  color: $color-gray;
  line-height: 1.1;
}

.list-button {
  padding: (20/2/16) * 1rem 0;
  font-size: (30/2/16) * 1rem;
  width: 100%;
  text-align: left;
  line-height: 1.1;

  @include touchable;
}

.section {
  padding: (60/2/16) * 1rem (40/2/16) * 1rem;
}

.section-title {
  margin-bottom: (40/2/16) * 1rem;
  font-size: (26/2/16) * 1rem;
}

.section-content {
  font-size: (26/2/16) * 1rem;
}

.section-footer {
  font-size: (26/2/16) * 1rem;
  margin-top: (50/2/16) * 1rem;
}

.section-divider {
  background-color: $color-lightest;
  height: (16/2/16) * 1rem;
}

.spacer {
  height: (20/2/16) * 1rem;
}

.grid-row {
  display: flex;
  align-items: flex-start;

  & > * {
    flex: 1 0;

    &:not(:last-child) {
      margin-right: (19/2/16) * 1rem;
    }
  }
}
