@import "variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  letter-spacing: -0.06em;

  @media (max-width: 360px) {
    // 360px 이하 지원
    font-size: 4.4vw;
  }
}

body {
  font-family: $font-sans;
  line-height: 1.5;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

button {
  font: inherit;
  letter-spacing: inherit;
}

.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.page-content {
  padding: $padding;
}
